.main-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.cont{
    height: 80%;
    width: 90%;
    margin-top: 80px;
    border-radius:20px ;
    text-align: center;
    background-image: url(/asset/aboutus_bgjpg.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    aspect-ratio: 16/9;
    background-size: cover;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);

}
h1{
    font-family:"Dancing Script", serif;
}
.cont .list-tentang-kami{
    display: inline-block; 
}
.list-tentang-kami{
    text-align: left;
    max-width: 90%;
    min-height:80% ;
}
.cont p{
    text-align: start;
    text-indent: 20px;
}